<%= form_for(@loan) do |f| %>
  <% if @loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
      <% @loan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :debt %><br />
    <%= f.number_field :debt %>
  </div>
  <div class="field">
    <%= f.label :credit %><br />
    <%= f.number_field :credit %>
  </div>
  <div class="field">
    <%= f.label :friend_id %><br />
    <%= f.number_field :friend_id %>
  </div>
  <div class="field">
    <%= f.label :from_time %><br />
    <%= f.datetime_select :from_time %>
  </div>
  <div class="field">
    <%= f.label :due_time %><br />
    <%= f.datetime_select :due_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
